.tabela{
    background-color: #fff;
    width: 60vw;
    height: 35vh;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 2.6%;
    padding-top: 1%;
    padding-left: 3%;
}


.tituloTabela{
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;


}

thead th{
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;

}